// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #881c1c;
}

.container {
	margin-top: 200px;
}

.food-title {
	color: white;
	font-weight: 600;
}

.secondary-title, .food-title small {
	color: #aca39a;
	font-weight: 400;
}

.logo {
	width: 300px;
    height: auto;
    position: absolute;
    top: 20px;
    background-color: white;
    padding: 12px;
    border-radius: 1rem;
    box-shadow: 0px 5px 10px 1px #0000004d;
    transition: 0.2s;
}

.logo:hover {
	box-shadow: 0px 1px 10px 1px #00000020;
	transition: 0.2s;
}

.btn-primary {
	background-color: #666666;
	border-color: #666666;
}

.btn-primary:hover, .btn-primary:active {
	background-color: #999999 !important;
	border-color: #999999 !important;
}

.btn-primary:focus, .btn-primary:active {
	box-shadow: 0 0 0 0.2rem rgba(148, 121, 93, 0.5);
}

.dropdown-umenu {
	font-size: 1.3rem;

	.autocomplete-suggestion {
		padding: 5px 0px;

	}
}

.welcome {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.main-title {
	text-align: center;
	font-size: 5rem;
	color: white;
	font-weight: 600;
}

.search-input {
	height: 60px;
    font-size: 2rem;
    outline: none;
    border: none;
    border-radius: .4rem;
    background-color: #c1625f;
    box-shadow: 0px 3px 10px 4px #e05f5f45;
}

.search-input:focus {
	outline-color: #e05f5f45;
}

.search-input::placeholder{
	color: white;
	opacity: 0.3;
	font-size: 2rem;
}

.answer {
	opacity: 0.6;
	font-weight: 400;
}

.row.record {
	background-color: #aaaaaa;
	box-shadow: 0px 5px 10px 1px #0000004d;
    border-radius: .5rem;
    padding: 5px 0px;
    margin-bottom: 15px;

    p {
    	margin-bottom: 0;
    }

    font-weight: 600;
}

.row.record.offset {
	background-color: #eeeeee;
}

.nutrition-table {
	background-color: white;
    box-shadow: 0px 5px 10px 1px #0000004d;
    border-radius: .5rem;
    padding: 10px 0px;

    .subtitle {
    	font-size: 0.8rem;
    	margin-bottom: 0;
    }

    .title {
    	font-size: 1.5rem;
    	font-weight: 800;
    }

	p {
		font-weight: 600;
	}

	.dv {
		text-align: right;
		margin-bottom: 0;
	}

	.indent {
		margin-bottom: 0;
		padding-left: 15px;
	}
}